<div class="reveal">
  <div class="chapter-cover"
  style="  background-color: #3497FF;
    background-image: url('{{ site.baseurl }}/images/grid.png');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
      <div class="cover-grid">
              <div class="chapter-number reveal" style="color:#2323C6;">
                <p>3</p>
              </div>
              <div class="cover-body-content">
                <div class="cover-text reveal" style="color: #292d34;">
                  <h2>Designing a content page</h2>
                  <p>Many assume navigation begins and ends with a menu, or a homepage — but most users start on content.</p>
                </div>
              </div>
      </div>
  </div>
</div>
