<div class="reveal">
  <div class="chapter-cover chapter-4"
  style="  background-color: red;
    background-image: url('{{ site.baseurl }}/images/formats.png');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
      <div class="cover-grid">
              <div class="chapter-number reveal" style="color: #3497FF;">
                <p style="color:#292d34;">2</p>
              </div>
              <div class="cover-body-content">
                <div class="cover-text reveal" style="color: white;">
                  <h2>Sorting content</h2>
                  <p>Understanding user jobs allowed us to group content in a way that would be logical and useful for our users.</p>
                </div>
            </div>
      </div>
  </div>
</div>
