<div class="reveal">

  <div class="chapter-cover"
    style="background-color: #292d34;
    background-image: url('{{ site.baseurl }}/images/principles.png');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">

      <div class="cover-grid">
              <div class="chapter-number reveal" style="color: #3497FF;">
                <p>1</p>
              </div>

              <div class="cover-body-content">
                <div class="cover-text reveal" style="color: white;">
                  <h2>Begin at the beginning</h2>
                  <p>After six years of evolving features, it was necessary to go back to first principles on GOV.UK<sup style="color: #3497FF">1</sup></p>
                </div>
            </div>
      </div>
  </div>
</div>
