<div class="reveal">
    <div class="chapter-cover"
    style="  background-color: #3E4248;
      background-image: url('{{ site.baseurl }}/images/research-bg.png');
      height: 100vh;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;">
      <div class="cover-grid">
              <div class="chapter-number reveal" style="color: red;">
                <p>4</p>
              </div>
              <div class="cover-body-content">
              <div class="cover-text reveal" style="color: white;">
                <h2>Testing</h2>
                <p>Testing our assumptions would be tricky, and would require a combination of methods.</p>
              </div>
      </div>
    </div>
  </div>
</div>
