

  <div class="grid">
    <div class="page-intro">
      <div class="page-intro-lede">
            <p>Navigating across <a href="https://www.gov.uk">GOV.UK</a> is difficult.</p>
      </div>

        <div class="body-content reveal">
          <img src="{{ site.baseurl }}/images/small-browser.png" alt="An illustration of a browser screen">
        </div>

      <div class="page-intro-body left reveal">
          <p>It’s not one website, it’s two. Or three. Or more, depending on who you ask.</p>
          <p>After six years, we began trying to fix a problem that proved to be fundamental and far-reaching: how do we help users find what they need?</p>
      </div>

    </div>
    <div class="reveal dots-img">
      <img src="{{ site.baseurl }}/images/dot-grid.png" alt="An abstract image of the user journey">
    </div>
   </div>
